.List {
  display: flex;
  user-select: none;
}
.List__primary {
  flex-direction: row;
  flex-wrap: wrap;
}
.List__primary .List_item {
  flex: 4 4 33%;
  padding: 0.125rem;
  height: 50px;
}
.List__secondary {
  flex-wrap: wrap;
}
.List__secondary .List_item {
  flex: 1 1 0px;
  min-width: 50px;
  min-height: 50px;
  margin: 0.125rem;
}
