.feelings_past {
  display: flex;
  flex-wrap: wrap;
  grid-gap: .5rem;
  justify-content: center;
}

.feeling-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: 250px; /* Increased width by 50px */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -125px; /* Adjusted margin to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.feeling-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}