.Feeling {
  width: 100%;
  height: 100%;
  border: 5px solid #ccc;
  background-color: #eee;
  cursor: pointer;
}

.Felt__excited,
.Felt__excited:hover {
  background-color: #ec7b28;
  border: 5px solid #b86120;
  color: #fff;
}
.Felt__tender,
.Felt__tender:hover {
  background-color: #f014e8;
  border: 5px solid #af1eaa;
  color: #fff;
}
.Felt__scared,
.Felt__scared:hover {
  background-color: #e5df43;
  border: 5px solid #beb93c;
  color: #fff;
}
.Felt__angry,
.Felt__angry:hover {
  background-color: #e80d0d;
  border: 5px solid #b60b0b;
  color: #fff;
}
.Felt__sad,
.Felt__sad:hover {
  background-color: #5185cc;
  border: 5px solid #3f679e;
  color: #fff;
}
.Felt__happy,
.Felt__happy:hover {
  background-color: #3ea34a;
  border: 5px solid #2a6d32;
  color: #fff;
}
