.feeling {
  width: 100%;
  height: 100%;
  border: 5px solid rgba(0,0,0,.25);
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--text);
  border-radius: 10px;
}

.feeling[type="button"] {
  cursor: pointer;
  transition: background-color .25s;
}

.feeling[type="button"]:active {
  transform: scale(0.95);
}

.feeling.primary {
  width: 100%;
  height: 100%;
  border: 5px solid rgba(0,0,0,.25);
  text-align: center;
  font-size: 1.5rem;
  padding: .5rem
}

.feeling.secondary {
  max-width: 40px;
}

.excited {
  background-color: var(--feeling-excited);
}

.excited[type="button"]:hover {
  background-color: var(--feeling-excited-hover);
}

.tender {
  background-color: var(--feeling-tender);
}

.tender[type="button"]:hover {
  background-color: var(--feeling-tender-hover);
}

.scared {
  background-color: var(--feeling-scared);
}
.scared[type="button"]:hover {
  background-color: var(--feeling-scared-hover);
}

.angry {
  background-color: var(--feeling-angry);
}
.angry[type="button"]:hover {
  background-color: var(--feeling-angry-hover);
}

.sad {
  background-color: var(--feeling-sad);
}
.sad[type="button"]:hover {
  background-color: var(--feeling-sad-hover);
}

.happy {
  background-color: var(--feeling-happy);
}

.happy[type="button"]:hover {
  background-color: var(--feeling-happy-hover);
}