.Divider {
    border-top: 3px solid #fff;
    line-height: 0;
    margin: 2rem 0;
}

.Divider:before {
    content: "Previous Feels";
    padding: 0 .5rem;
    background: #64abba;
    font-size: 2rem;
}