.heading {
	font-size: 5rem;
	margin-bottom: 25px;

	text-shadow: 1px 1px 1px #076f85;
}

.subheading {
	width: 100%;
	margin: 40px 0 0;
	clear: both;

	font-size: 4.25rem;

	text-shadow: 1px 1px 1px #076f85;
}
