@import url("https://fonts.googleapis.com/css?family=Grand+Hotel");

html,
body {
  width: 100%;
  height: 100%;

  font-family: "Grand Hotel", Arial, Helvetica, cursive;
  font-size: 1em;
  color: #fff;

  background: #64abba;
}
